.NewCourseForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    color: var(--text-color-2);
    padding: var(--padding-l);
    box-shadow: var(--dark-shadow-m);
    gap: var(--padding-l);
    width: 80%;
    max-width: 300px;
    border-radius: var(--radius-s);

    .inputs-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--padding-l);
        width: 100%;

        .input-wraper {
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: var(--padding-s);
        }

        label {
            font-weight: bold;
        }

        input {
            padding: var(--padding-m) var(--padding-l);
            border-radius: var(--radius-xl);
            border: none;
            box-shadow: var(--dark-shadow-m);
            width: 60%;
        }

    }

    .btns-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .btn {
            width: 40%;

            &.res-btn {
                color: var(--text-color-2);
                background-color: var(--error-color);
            }
        }
    }
}