.SubjectRow {
    grid-template-columns: repeat(2, 1fr);

    .delete-btn {
        position: absolute;
        left: -10px;
        padding: var(--padding-s);
        border-radius: var(--radius-xl);
        border: solid 2px var(--error-color);
        box-shadow: var(--dark-shadow-s);
    }
}