.LayOut {
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
        box-sizing: border-box;
        padding: var(--padding-l);
        width: 100%;
        max-width: 1000px;
    }
}