.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--padding-l);
        border-radius: var(--radius-m);
        width: 90%;
        box-shadow: var(--light-shadow-m);
        background-color: var(--color-2);

        h2 {
            margin-bottom: var(--padding-m);
        }
    }
}