.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--padding-m);
    color: var(--text-color-2);
    background-color: var(--color-1);

    h1 {
        font-size: 1.5em;
    }
}