.CourseRow {
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    transition: 200ms;

    &:hover {
        top: 1px;
    }

    &:active {
        top: 2px;
    }

    &.row .course-name {
        font-weight: bold;
        color: var(--link-color-1);
    }
}