.PrivacyStatementPage {

    span {
        font-size: 0.9em;
        font-weight: bold;
    }

    a {
        color: var(--link-color-1);
        text-decoration: underline;
    }

    .btn {
        text-decoration: none;
    }
}