.PrivacyStatementPage {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-l);
    gap: var(--padding-m);
    background-color: var(--color-2);
    border-radius: var(--radius-s);
    box-shadow: var(--light-shadow-m);

    span {
        font-size: 0.9em;
        font-weight: bold;
    }

    a {
        color: var(--link-color-1);
        text-decoration: underline;
    }

    .btn {
        text-decoration: none;
    }
}