.App {


    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--padding-m);
        width: 100%;

    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        position: relative;
        gap: var(--padding-m);
        box-sizing: content-box;
        padding: var(--padding-l);
        border-radius: var(--radius-m);
        box-shadow: var(--light-shadow-m);
        background-color: var(--color-2);

        h2 {
            margin-bottom: var(--padding-m);
        }

        .add-card-btn {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 10px;
            left: 10px;
            width: 30px;
            height: 30px;
            font-size: 3em;
            padding: var(--padding-s);
        }
    }

    .row {
        position: relative;
        top: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        place-items: center;
        gap: var(--padding-l);
        padding: var(--padding-m);
        background-color: var(--text-color-2);
        width: 90%;
        border-radius: var(--radius-m);
        box-shadow: var(--dark-shadow-s);
        font-size: 0.9em;
        color: var(--text-color-1);
    }

    .header-row {
        font-size: 1em;
        font-weight: bold;
    }

    .popup-modal-form {
        z-index: 999;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-1);
        color: var(--text-color-2);
        padding: var(--padding-l);
        box-shadow: var(--dark-shadow-m);
        gap: var(--padding-l);
        width: 80%;
        max-width: 300px;
        border-radius: var(--radius-s);

        h2 {
            text-align: center;
        }

        .inputs-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--padding-l);
            width: 100%;

            .input-wraper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: var(--padding-s);
            }

            label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 35%;
                font-weight: bold;
            }

            input,
            select {
                padding: var(--padding-m) var(--padding-l);
                border-radius: var(--radius-xl);
                border: none;
                box-shadow: var(--dark-shadow-m);
                width: 50%;
                min-width: 50%;
            }

            select {
                height: 30px;
                width: 60%;
            }

        }

        .btns-wrap {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .btn {
                width: 40%;

                &.res-btn {
                    color: var(--text-color-2);
                    background-color: var(--error-color);
                }
            }
        }
    }
}